body {
  background-color: #5947ca;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Serif Georgian", serif;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
  /* border: red 1px solid; */
}

header {
  background-color: white;
  margin-bottom: 200px;
  padding: 10px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-picture {
  /* border: 1px green solid; */
  display: flex;
  align-items: center;
}

.profil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 25px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.header-button {
  /* border: 1px blueviolet solid; */
  text-align: center;
  padding: 10px;
}

button {
  font-size: 20px;
  margin: 25px;
  background-color: white;
  border: none;
  font-family: inherit;
  font-weight: bold;
}

button:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 18px;
}

/* ------------------------ */
/* -----------Main----------- */
/* ------------------------ */

main {
  background-color: white;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 400px;
  height: 300px;
  padding: 20px;
}

.text p {
  font-size: 20px;
  font-family: inherit;
  text-align: left;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

span {
  color: white;
  font-weight: inherit;
  margin-top: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: white;
  text-decoration: none;
}
